{% extends 'layout_admin.html.twig' %}

{% block content %}
    <h1>Edit adopter #{{ adopter.id }}</h1>
    {% include 'Adopter/_form.html.twig' %}
    <div class="text-right">
        <a href="/adopter/show/{{ adopter.id }}">Back</a>
    </div>
{% endblock %}
